%p#notice= notice

%h1 #{@car_brand.manufacturer.name} #{@car_brand.name}

%p
  %b Manufacturer:
  =link_to @car_brand.manufacturer.name, @car_brand.manufacturer

%p
  -if @car_brand.products.empty?
    %strong This model has no dedicated parts.
  -else
    %strong Parts for this model:
    -@car_brand.products.each do |product|
      %p=link_to product.name, product

= link_to 'Edit', edit_car_brand_path(@car_brand)
\|
= link_to 'Back', car_brands_path
